{% extends "nba/index.html" %}
{% block content %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">

                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title">{{ player.name }} {{ player.last_name }}</span>
                        <br>
                        <span class="subtitle">Team: {{ player.current_team }}</span>
                        <br>
                        <span class="subtitle">Position: {{ player.post }}</span>
                        <br>
                        <span class="subtitle">Games Played: {{ player.games_played }}</span>
                        <br>
                        {% if 'season' in player %}
                            <span class="subtitle">Points Per Game for {{ player.season }}: {{ player.points }}</span>
                        {% endif %}
                        <br>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}