{% extends "nba/index.html" %}
{% block content %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">

                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title">{{ player.name }} {{ player.last_name }}</span>
                        <br>
                        {% if player.height_ft is None and player.height_in is None %}
                            <span class="subtitle">Height: Not in API</span>
                            <br>
                        {% else %}
                            <span class="subtitle">Height: {{ player.height_ft }} ft {{ player.height_in }} in</span>
                            <br>
                        {% endif %}
                        <span class="subtitle">Team: {{ player.current_team }}</span>
                        <br>
                        {% if not player.post %}
                            <span class="subtitle">Position: Retired</span>
                            <br>
                        {% else %}
                            <span class="subtitle">Position: {{ player.post }}</span>
                            <br>
                        {% endif %}
                        <span class="subtitle">Games Played in {{ player.season }}: {{ player.games_played }}</span>
                        <br>
                        <span class="subtitle">Points Per Game for {{ player.season }}: {{ player.points }}</span>
                        <br>
                    </p>
                </div>
            </div>
        </article>
    </div>
{% endblock content %}