body{
	background-color: rgb(36, 41, 46) !important;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
}

p, span, small{
	color: #eaeaea;
}

.box{
	background-color: rgb(49, 54, 63) !important;
}

.subtitle{
	color: white;
}

.title{
	color:aqua
}